figcaption {
	font-style: italic;
	font-size: unset
}

table, th, td {
	border-collapse: collapse;
	padding: 2px 7px
}

table {
	border-top: solid var(--col-hl) 2px;
	border-bottom: solid var(--col-hl) 2px
}

table th {
	border-bottom: solid var(--col-hl) 2px
}

img {
	max-width: 100%;
}

@media (min-width: 700px) {
	img {
      		max-width: 70%;
    	}
}

@media (min-width: 500px) {
	header .hnav {
		justify-content: flex-start;
		align-items: center;
		text-align: left
	}

	header .hhome {
		flex: 0 1 auto;
		margin-inline-end: auto
	}
}

main h1 {
	font-size: 4rem;
	font-family: var(--font-sf);
  	font-style: normal;
	font-weight: normal;
	margin-bottom: 20px
}

pre {
    	max-height: 100%;
    	overflow: auto;
	border-left: solid var(--col-hl) 4px;
	border-radius: 4px;
	background-color: rgba(1, 1, 1, 0.05);
}

pre code {
    	display: block;
      	white-space: pre;
     	padding: 1em;
}

.blog__card {
	margin: 15px 0
}

.blog__card strong {
	font-family: "msans"
}

.blog__date {
	margin: .25rem 0;
}

.blogdesc {
	font-size: 18px;
	padding: 20px 0
}

.tag-btn {
	border: var(--col-hl) 2px solid;
	border-radius: 5px;
	background-color: white;
	margin: 2px 3px
}

.tag-btn:active {
	background-color: var(--col-hl);
	color: white
}

@media (max-width: 775px) {
	main h1 {font-size: 54px; margin-bottom: -10px}

	body {font-size: 15px}

	.ntdesc {font-size: 17px}

	.blogdesc {font-size: 17px; padding: 10px 0}

	h2 {font-size: 19px}
}

@media (max-width: 500px) {
	main h1 {font-size: 40px; font-weight: bold; padding-top: 20px}
	
	header .hhome {font-size: 22px}

	body {font-size: 14px}

	.ntdesc {font-size: 16px}

	.blogdesc {font-size: 16px; padding: 0}

	h2 {font-size: 17px}
}

@media (max-width: 350px) {
	main h1 {font-size: 36px; padding-top: 20px}

	header .hhome {font-size: 21px}

	body {font-size: 13px}

	.ntdesc {font-size: 15px}

	.blogdesc {font-size: 15px}
}
