@font-face { 
	font-family: "Cardo";
	font-weight: 500;
	font-style: normal;
	src: url("resources/fonts/Cardo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Cardo";
	font-weight: 500;
	font-style: italic;
	src: url("resources/fonts/Cardo-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Cardo";
	font-weight: 900;
	font-style: normal;
	src: url("resources/fonts/Cardo-Bold.ttf") format("truetype");
}
