/* preamble */

@import url("fonts.css");

:root {
	--small: clamp(0.75rem, 1.5vw, 0.9rem);
	--orange: #F54927;
	--blue: #2D1982;
	--red: #CC1E1D;
	--brown: #730B0B;
	--grey: #615F5F;
	--font: default;
	--bg: white;
	--fg: black
}
*, *::before, *::after {
	box-sizing: inherit
}
html { font-size: 21px; font-family: var(--font); color: var(--fg); background-color: var(--bg); font-weight: 400 }
@media (max-width: 512px) { html { font-size: 20px } }
a { color: var(--orange); font-family: inherit; text-decoration: none; font-weight: 500 }
a:hover { font-weight: bold }
a:visited { color: var(--blue) }


/* navigation */

nav {
	display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;
	font-family: var(--font);
	margin-bottom: 1rem
}
nav > ul { display: flex; list-style: none; margin: 0; padding: 0; gap: 0.7rem }
nav > ul li a, nav > ul li a:visited { color: var(--fg) !important }
nav > ul li a:hover { font-style: italic }
@media (max-width: 512px) {
	nav { gap: 0.4rem; margin-bottom: 2rem }
}


/* body */

body { max-width: 900px; margin: auto; min-height: 80vh; padding: 1rem }

h1 { font-size: clamp(1.55rem, 4vw, 2.1rem) }
h2 { font-size: clamp(1.15rem, 2.7vw, 1.6rem) }
h3 { font-size: clamp(1rem, 2.2vw, 1.1rem) }
p, li { font-size: clamp(0.9rem, 2vw, 1rem); line-height: 1.4; hyphens: auto }

header { display: flex; align-items: center }
@media (max-width: 768px) { header { display: block } figure { margin: 0 } }
.hero { flex: 1}
@media (max-width: 512px) { .hero { margin-top: 3rem } }
header > figure { flex: 1 }
header > *:first-child img { border: 2px solid grey; border-radius: 0.8rem; padding: 0.25rem }


/* footer */

footer { margin-top: 1rem; padding: 0.5rem 0; font-size: var(--small) }


/* blogs */

#blogs__list > div { margin: 1rem 0 }
.blog-date { font-style: italic; opacity: 0.7; margin: 0; padding: 0; font-size: var(--small) }
.blog-tags span { padding: 0.15rem 0.4rem; margin-right: 0.3rem; border-radius: 4px; font-size: var(--small) }
.blog__card p { margin: 0 }
#tag-filter button { border: none; padding: 0.3rem 0.6rem; margin-right: 0.3rem; cursor: pointer; border-radius: 4px }
#tag-filter button:hover { }

table, th, td { border-collapse: collapse; padding: 2px 7px }
table { border-top: solid var(--red) 2px; border-bottom: solid var(--red) 2px }
table th { border-bottom: solid var(--red) 2px }
img { max-width: 100% }
@media (min-width: 700px) { img { max-width: 70% } }
#s5g { max-width: 100% }
pre { max-height: 100%; overflow: auto; border-left: solid var(--brown) 4px; border-radius: 4px; background-color: rgba(1, 1, 1, 0.05) }
pre code { display: block; white-space: pre; padding: 1em }
code { font-size: var(--small) }


/* misc */

figcaption { font-size: var(--small); font-style: italic }
.pfp { width: 4rem; cursor: pointer; border-radius: 100% }
@media (max-width: 512px) { .pfp { width: 3rem } }
blockquote { border-left: var(--grey) solid 2px; font-style: italic; color: var(--grey); padding-left: 1rem; margin-left: 0 }
.lat { margin: 1rem 0 }
.lat h4 { margin: 0; padding: 0 }
.lat p { font-style: italic }
@media (min-width: 512px) {
	.lat { display: flex }
	.lat img { max-width: 60%; margin-inline: auto; margin-left: 2rem }
}
.blog__content > *:last-child::after { font-weight: bold; content: "\25CB"; float: right }

.sidenote {
	float: right; max-width: clamp(115px, 25vw, 250px); margin: 15px; margin-right: -15px;
	border-left: var(--brown) 2px solid; padding: 0 10px; font-size: var(--small); color: var(--grey);
	font-style: italic
}
